.popular-services {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;

  h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
  }

  .all-services {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
  }
}
