.tilt-card {
  color: var(--primary-color);
  margin: 0;
  width: 180px;
  height: 180px;
  text-align: center;
  background-color: white;
  border: 1px solid var(--primary-color-extraLight);
  border-radius: 20px;
  box-shadow: 0px 4px 30px var(--primary-color-light);
  backdrop-filter: blur(5px);
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .card-tilt-heading {
    font-weight: 700;
    text-transform: uppercase;
    font-weight: 1rem;
    z-index: 2;

    padding: 5px;
    border-radius: 5px;

    background-color: var(--primary-color);
    .card-tilt-tag {
      color: white;
    }
  }
  transition: all 1s;
}
.tilt-card::before {
  background-color: white; /* Fallback color if the image is slow to load */
  opacity: 0; /* Initially transparent */
  transition: opacity 0.5s !important;
  border-radius: 20px;
}

.tilt-card:hover::before,
.tilt-card:focus::before {
  opacity: 1;
}

.card-tilt-heading:hover,
.card-tilt-heading:focus {
  background-color: var(--secondary-color);
  .card-tilt-tag {
    color: var(--primary-color);
  }
}
