* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
  max-width: 1500px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
}
